<h1>Editing Potion</h1>

<%= render 'form', potion: @potion %>

<%= link_to 'Show', @potion, html_options = {:class => "btn blue"} %>
<%= link_to 'Back', potions_path, html_options = {:class => "btn blue"}  %>
