img {
	width: 100px;
	alignment-baseline: middle;
}

img.ingredient {
	width: 100px;
}

table.ingredient {
	margin-top: 30px;
}

.btn.ingredient:hover {
	background-color: inherit;
	color: darkblue;
}

.btn.ingredient:active {
	background-color: inherit;
	color: darkblue;
	border: none;
	text-decoration: none;
	box-shadow: none;
}


@media only screen and (max-width: 980px) {
	img { width: 150px; }
	img.ingredient { width: 250px; }
	table.ingredient { margin-top: 50px; }
}